@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  html {
    background-image: url("/images/fundo2.png");
  }

  .hidden {
    display: none;
  }

  .audio {
    font-size: 90px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .title {
    font-size: 86px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 64%;
    height: 11%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
    border-radius: 35px;
    border: 3px solid rgba(0, 0, 0, 0.08);
  }

  .title .titleBellow {
    line-height: 2em;
    padding-bottom: 15px;
    text-transform: none;
    font-size: 0.7em;
    font-weight: normal;
    font-style: italic;
    font-family: "Playfair Display", "Bookman", serif;
    color: #999;
    letter-spacing: -0.005em;
    word-spacing: 1px;
    letter-spacing: none;
  }

  .audio {
    display: none;
  }

  .card-container {
    -webkit-perspective: 500px;
    perspective: 500px;
    font-family: arial;
  }

  .card {
    -webkit-transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 431px;
    height: 501px;
    margin: 10px;
    box-shadow: -1px 2px 13px 4px rgba(0, 0, 0, 0.62);
    border-radius: 25px;
  }

  .front,
  .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  /*Custom Styles*/
  .cards-container {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* ESCONDE CARTAS */
    /* display: none; */
  }

  .front,
  .back {
    box-shadow: 0 1px 6px 0;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;

    background-color: white;
    border-radius: 26px;
  }
  .front {
    background: url("/images/questionMark3.png") no-repeat;
    background-repeat: no-repeat;
    background-size: auto;
  }

  .cardQuestion {
    font-size: 43px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    background-color: #b6e1d7;
    border: 0px solid white;
    padding: 10px;
    border-radius: 25px;
    border: 10px solid white;
  }
  .cardResposta {
    font-size: 33px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    background-color: #ffffff;
    padding: 17px;
    border-radius: 34px;
    border: 2px solid white;
    margin: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  img {
    display: block;
  }
}
/* RIGHT OPTION  */
/* The slow way */
.cardResposta {
  transition: box-shadow 1.2s ease-in-out;
}

/* Transition to a bigger shadow on hover */
/* .cardResposta:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
} */

/* CHAVES RESPOSTAS CERTAS  */

.chavesContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 22px;
}

.chaves {
  background: transparent;
  width: 11vw;
  height: 11vw;
  border: 5px solid #6a837e;
  margin: 0px 22px;
  border-radius: 22px;
  transition: background-image 1.2s ease-in-out;
  /* background-image: url("/images/key.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

/* **********************************
  ********** POP UP ***************
  **********************************
 */
#popup2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay.light {
  background: rgb(0 0 0 / 96%);
}
.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.overlay .cancelButton {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

.popup {
  margin: 75px auto;
  padding: 55px;
  background: #fff;
  border: 1px solid #666;
  width: 61%;
  height: 21%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
  font-size: 40px;
  border-radius: 27px;
}
.light .popup {
  border-color: #aaa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.popup h2 {
  margin-top: 0;
  color: #666;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}
.popup .close:hover {
  opacity: 1;
}
.popup .content {
  max-height: 400px;
  overflow: auto;
}
.popup p {
  margin: 0 0 1em;
}
.popup p:last-child {
  margin: 0;
}

.botaoContinuarPOPUP {
  border: 2px solid black;
  border-radius: 12px;
  padding: 23px;
  text-decoration: none;
  font-family: arial;
  background-color: #6a837e;
  color: black;
  width: 28% !important;
  height: 10% !important;
}

/* VOLUME  */

.muteMusic {
  font-size: 35px;
  color: #eee;
  position: absolute;
  top: 3%;
  left: 6%;
  /* transform: translate(-50%, -50%); */
  width: 80px;
  padding: 23px;
  border: none;
  border-radius: 2px;
  outline: none;
  background: rgba(115, 67, 167, 0.8);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

button.fade:hover {
  opacity: 0.8;
}

/* **********************************
  ********** CHAVES FINAIS ***************
  **********************************
 */

.chave-container {
  -webkit-perspective: 500px;
  perspective: 500px;
  font-family: arial;
}

.chave {
  -webkit-transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 431px;
  height: 501px;
  margin: 10px;
  box-shadow: -1px 2px 13px 4px rgba(0, 0, 0, 0.62);
  border-radius: 25px;
}

.frontChave,
.backChave {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.backChave {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/*Custom Styles*/
.chaves-container {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* ESCONDE CARTAS */
  /* display: none; */
}

.frontChave,
.backChave {
  box-shadow: 0 1px 6px 0;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;

  background-color: white;
  border-radius: 26px;
}
.frontChave {
  background: url("/images/key.png") no-repeat;
  background-repeat: no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
  background-size: 300px 300px;
}

.chave-container:hover .chave {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
